<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Auto-tests-otus" parallel="classes" thread-count="4">

    <test name="homePage-tests">
        <classes>
            <class name="project.TestEpamHomePage"/>
            <class name="project.TestEventPage"/>
            <class name="project.TestEventDetailPage"/>
            <class name="project.TestTalkPage"/>
         </classes>
    </test>
</suite>